<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<input type="file" name="" value="上传图片" id="image">
<input type="button" id="upload" value="提交">
</body>
<script type="text/javascript" src="../static/jquery-3.2.1.js"></script>
<script type="text/javascript">
    $(function () {
        $("#upload").click(function () {
            var formdata = new FormData();
            formdata.append('uploadImage',$('#image').get(0).files[0]);
            $.ajax({
                url:'../index/index/upload',
                type:'post',
                contentType:false,
                data:formdata,
                processData:false,
                success:function(info){
                    console.log(info)
                },
                error:function(err){
                    console.log(err)
                }
            });
        });




    })



</script>
</html>